---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gradient-to-r from-[#ffefba] to-white backdrop-blur flex flex-row justify-center">
		<main class="basis-full lg:basis-1/2">
			<section class="container mx-auto px-6 pt-16 lg:flex lg:justify-between lg:items-center">
				<div class="flex items-center">
					<img src="https://cravatar.com/avatar/5FBB13B635295D1226A17B782951C309?s=400&f=mp" class="h-16 w-16 shrink-0 rounded-xl drop-shadow-lg outline outline-1 outline-offset-1 outline-gray-200 overflow-hidden">
					<div class="ml-5">
						<span class="font-bold bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2">Hello</span>
						<h1 class="text-3xl font-bold">I'm Cao MengDe</h1>
					</div>
				</div>
				<div class="flex items-center gap-2 mt-5 lg:mt-0">
					<div class="w-5">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-full h-full"><path stroke-linecap="round" stroke-linejoin="round" d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 00-8.862 12.872M12.75 3.031a9 9 0 016.69 14.036m0 0l-.177-.529A2.25 2.25 0 0017.128 15H16.5l-.324-.324a1.453 1.453 0 00-2.328.377l-.036.073a1.586 1.586 0 01-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 01-5.276 3.67m0 0a9 9 0 01-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25"></path></svg>
					</div>
					<div class="text-xs opacity-80">Xi'an, China • 108.94° N, 34.34° W</div>
				</div>
			</section>

			<section class="container mx-auto px-6 pt-16">
				<article class="text-2xl tracking-wide leading-relaxed">
					<div>
						我是一名自学后端的独立开发者，目前在学习前端<span class="text-xs text-slate-500">（2023）</span>。
						同时也是一位域名收藏家。
					</div>
				</article>
				<div class="pt-5 flex items-center">
					<button class="text-white font-bold drop-shadow-lg bg-gradient-to-r from-[#12c2e9] via-[#c471ed] to-[#f64f59] px-3.5 py-3 rounded-full">✏️ My Blog<span class="font-medium text-xs"> [dev...]</span></button>
				</div>
			</section>

			<section class="container mx-auto px-6 pt-16">

			</section>
			


			<section class="container mx-auto px-6 pt-16 hidden">
				
				<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
					<li class="mb-10 ms-4">
						<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
						<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2022</time>
						<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application UI code in Tailwind CSS</h3>
						<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
						<a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Learn more <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
				</svg></a>
					</li>
					<li class="mb-10 ms-4">
						<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
						<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March 2022</time>
						<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Marketing UI design in Figma</h3>
						<p class="text-base font-normal text-gray-500 dark:text-gray-400">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
					</li>
					<li class="ms-4">
						<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
						<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2022</time>
						<h3 class="text-lg font-semibold text-gray-900 dark:text-white">E-Commerce UI code in Tailwind CSS</h3>
						<p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
					</li>
				</ol>

			</section>
		</main>
	</body>
</html>
